[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = http://github.com/tpope/vim-sensible.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "/home/jss/.vim/bundle/vim-airline"]
	path = /home/jss/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/iceberg"]
	path = bundle/iceberg
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
